.app {
    width: 100%;
    min-height: 100vh;
    gap: 25px;
    display: flex;
    justify-content: center;
    padding: 50px;
    overflow-x: hidden;
}
.app > div {
    width: 500px;
    max-width: 100%;
}